#navBar {
    width: 1366px;
    height: 78.94px;

}

#sentadilla {
    width: 1366px;
    height: 453.32px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}

#amarilla {

    position: absolute;
    width: 528px;
    height: 128px;
    top: 305.6px;
    left: 100px;
    color: #FAFF00;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    font-family: inter;
}

#prueba {
    width: 372px;
    height: 48px;
    top: 670.16px;
    left: 106.48px;
    gap: 0px;
    opacity: 0px;

}

#nos {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: left;

    color: #FAFF00;

}

#texto1 {
    width: 645.72px;
    height: 154px;
    top: 784.14px;
    left: 106.48px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;

}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

#correr {
    width: 454px;
    height: 325.96px;
    top: 670.16px;
    left: 812px;
    gap: 0px;
    opacity: 0px;

}

#divsub {
    width: 328px;
    height: 48px;
    top: 1134.02px;
    left: 519px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: left;
    color: #FAFF00E0;
    padding-top: 100px;
    padding-left: 40%;

}
#cuadro{
    width: 328.12px;
height: 416.52px;
top: 1281.43px;
left: 138.82px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;

}
#plan{
    width: 127.4px;
height: 68px;
top: 1322.49px;
left: 239.18px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 33.89px;
text-align: center;

}